*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/charectorsbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0.5);
}
.blogheading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blogheading span{
    color: #f33c3c;
}
.blogheading h3{
    font-size: 2.4rem;
    color: saddlebrown;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}
.blog-image{
    width: 100%;
    height: auto;
}
.blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: red;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}
.blog-text .blog-title:hover{
    color: gold;
    transition: all ease 0.3;
}
.blog-textp{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a:hover{
    color: black;
}
.blog-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}